html{
    box-sizing:border-box;
    height:100vh;
    width: 100vw;
    display:flex;
}

*,
*::before,
*::after{
    box-sizing: inherit;
}

@font-face {
  font-family: Born2bSportyV2;
  src: url(./fonts/Born2bSportyV2.ttf);
}

@font-face {
    font-family:"Departure Mono";
    src: url(./fonts/DepartureMono-1.500/DepartureMono-1.500/DepartureMono-Regular.woff2);
}

body{
    font-family:"Departure Mono";
    margin:0;
    padding:0;
    text-rendering:geometricPrecision;
    background-color: black;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

header{
    border:3px dashed #8bffd6;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

h1{
    margin:0;
    color: rgb(118, 118, 196);
    mask: linear-gradient(black,black,transparent);
    font-family: Born2bSportyV2;
    font-size:4em;
    text-align:center;
    text-shadow: 2px -2px white;
}

.main{
    flex:1;
    padding: 10px;
}

.home{
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    padding: 16px;
    gap:16px;
    position: relative;
    overflow: hidden;
}

p#one,p#two{
    display: flex;
    justify-content: center;
    align-items: center;
}

.arc{
    border:dotted #8bffd6;
    border-radius: 50%;
    height: 100px;
    padding: 20px;
    border-width: 0 0 0 3px;
    margin-bottom: 83px;
    margin-right: -5px;
    transform: rotate(-30deg);
    -webkit-transform: rotate(-35deg);
}

.arrow{
  border: solid #8bffd6;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 5px;
}

.right {
  transform: rotate(-30deg);
  -webkit-transform: rotate(-30deg);
}

button#play{
    position: relative;
    cursor: pointer;
    font-family: "Departure Mono";
    font-size:150%;
    font-weight:bolder;
    height: 100px;
    width: 100px;
    color: rgb(118, 118, 196);
    text-shadow: 2px -1px white;     
    outline: 4px solid brown;
    border:2px solid red;
    border-bottom:45px solid red;
    border-radius: 3%;
    background-color:black;
    transition: box-shadow .8s ease, color 0.5s ease, transform 0.4s ease; 
}

#play:hover,#exit:hover{
    transform: rotate(360deg);
    box-shadow: 0px 0px 100vw 100vw grey;
    color:red;
}

.ripple {
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: black;
    border-radius: 50%;
    transition: transform 1s ease; 
    transform-origin: 50% 50%;
    border:5px solid pink;
    box-shadow: 0px 0px 50px 10px red;
}

.ripple.expanding{
    transform: scale3d(20, 20, 1);
}

div.game{
    border:3px dashed #8bffd6;
    display: none;
    height: 100%;
    flex-direction: column;
    overflow: hidden;
}

.game .screen{
    border-bottom:3px dashed #8bffd6;
    flex:1;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    gap: 10px;
}

img.game{
    min-width: 20vh;
    height: 40vh;
    width: 20vw;
    transition: height 0.3s ease;
}

h3{
    font-family: Born2bSportyV2;
    font-weight:lighter;
    font-size:x-large;
    color:white;
}

#computer{
    display: flex;
    flex-direction: column;
    flex:1;
    border:2px solid red;
    justify-content: center;
    align-items: center;
    padding:5px;
    box-shadow:0px 0px 100px red inset;
}

#player{
    display: flex;
    flex-direction: column;
    flex:1;
    border:2px solid cyan;
    justify-content: center;
    align-items: center;
    padding:10px;
    box-shadow:0px 0px 100px blue inset;
}

#computer img.grow,#player img.grow{
    height: 15vh;

}

#score{
    display: flex;
    flex:1;
    outline:2px solid white;
    justify-content: center;
    padding:10px;
    flex-direction: column;
}

h2{
    margin:0;
}

#digits{
    display: none;
    white-space: pre-line;
    color:white;
    align-self: center;
}

#digits .computer, 
#digits .player{
    padding: 0;
    margin: 0;
}

#setting{
    background-color: rgba(124, 124, 124, 0.382);
    display: flex;
    flex-direction: column;
    gap:16px;
    padding: 5%;
    border: 3px dashed #8bffd6;
    box-shadow:0px 0px 100px blue;
}

label{
    font-size:xx-large;
    align-self: center;
    color: #8bffd6;
}

#round{
    accent-color: white;
    transition: accent-color .2s ease;
}

#round:hover{
    accent-color:red;
}

#setting button{
    font-family: "Departure Mono";
    font-weight:bolder;
    font-size:160%;
    background-color: rgb(30, 30, 30);
    color: rgb(118, 118, 196);
    border: 2px dashed #8bffd6;
    text-shadow: 2px -1px white;
    transition: color 0.5s ease;
}

#setting button:hover{
    color:red;
}

#buttons{
    display: none;
    margin-top: auto;
    justify-content: center;
    flex-direction: column;
    gap:8px;
}

#buttons button{
    font-family: "Departure Mono";
    font-size:large;
    font-weight: bolder;
}

.nav{
    margin-top: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
}

#two .arc{
    border-radius: 0;
    transform: rotate(90deg);
    margin-bottom: -40px;
    margin-right: 20px;
}

#two .arrow{
    transform: rotate(-45deg);
    margin-right: 16px;
}

button#exit{
    cursor: pointer;
    color: rgb(118, 118, 196);
    font-family: "Departure Mono";
    font-weight:bolder;
    font-size:160%;
    border:2px solid black;
    border-left:4px solid red;
    border-right:4px solid red;
    border-radius: 50%;
    background-color: black;
    margin-right: 10px;
    margin-bottom: 10px;
    height: 70px;
    width: 70px;
    text-shadow: 2px -1px white;
    transition: box-shadow 0.8s ease, color 0.5s ease, transform 0.4s ease;  
}

.footer{
    border:3px dashed #8bffd6;
    font-family: Born2bSportyV2;
    font-size:x-large;
    text-align: center;
    background-color: black;
    color:#8bffd6;
}

.footer a{
    color: #ffffff;
    mask: linear-gradient(black,black,transparent);
    font-family: "Departure Mono";
}
